.filter-container {
    width: auto;
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid grey;
}

.filter-container > p {
    margin-right: 2rem;
}

.filter-container form {
    display: flex;
    flex-direction: row;
}

form {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 0.4rem;
}

form * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}